.Post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    position: static;
    border-radius: 18px;
    border: 1px #bebebe;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(121, 121, 121, 0.19);
    background-color: #fff;
    
   
  }

  .Post-user {
    display: flex;
    padding: 16px;
    align-items: center;
  }
  .Post-user-avatar {
    width: 30px;
    height: 30px;
  }
  .Post-user-avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    color: black;
  }
  .Post-user-nickname {
    margin-left: 12px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .Post-image-bg {
    background-color: #efefef;
  }
  .Post-image img {
    display: block;
    width: 100%;
    
  }
  .Post-caption {
    padding: 16px 16px;
    flex-direction: column;

  }
  .Post-caption strong {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
  }
  .vjs-fade-out {
    display: none;
    visibility: hidden;
    opacity: 0;
  }