body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
:root {
    --bodybackground: #E9F0FF;
    ;
}

body {
    background: var(--bodybackground);
    /* font-family: 'PT Sans', sans-serif; */
}

.wrapper {
    display: grid;
    grid-template-columns: 20% 58% 24%;
    background: #F6F9FF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1em  5em;
}

.wrapper>div {
    padding: 1em;
}

.rowheading {
    display: flex;
    justify-content: space-between;
    flex-direction: row,
}

.Left {
    @media only screen and (max-width: 250px) {
        width: 20;
        overflow: hidden;
        align-items: left;

    }
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: static;
    left: 0px;
            overflow: hidden;

    top: 0px;
    background: #FFFFFF;
}

.Right {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    align-items: center;
    padding: 10px 20px 10px 10px;
    position: static;
    left: 970px;
    top: 0px;
    background: #E5EEFC;
}

.Contents {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    position: static;
    left: 275px;
    top: 0px;
}

.Contents-space {
    padding: 10px;
}

.headings {
    align-items: right;
}

.textbox {
    border-radius: 50px;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-content: space-evenly;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
    padding: 16px;
    margin: 8px 0px 8px 0px;
    background: linear-gradient(86.77deg, #FFFFFF 4.11%, rgba(242, 250, 255, 0.5) 91.8%, rgba(242, 250, 255, 0) 96.87%);
    filter: drop-shadow(0px 4px 4px rgba(207, 231, 246, 0.25));
    border-radius: 30px;
}

.Card>div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

